<% include ../partials/header%>
   <div class="row">
       <div class="col-md-4">
           <h1><%= user.firstName + " " + user.lastName %></h1>
           <div class="thumbnail">
               <img src="<%=user.avatar %>" alt="user's profile picture"></img>
                <div class="caption"><a href="mailto:<%=user.email%>"><em><%=user.email%> </em></a></div>
            </div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, labore quidem inventore delectus maxime accusantium eveniet, esse dolores molestiae, fugit modi corporis ipsum nesciunt error provident praesentium dignissimos quis consequatur! Est, incidunt, perferendis suscipit sunt ut aspernatur similique eos consectetur illum minima fugiat unde corporis provident ab officia nam iste.</p>
       </div>
       <div class="col-md-8">
        <h2>User's posts</h2>
        <div class="well">
          <ul>
            <% campgrounds.forEach(campground => { %>
            <li>
              <h4><a href="/campgrounds/<%=campground.id%>">  <%= campground.name %> </a></h4>
              <br>
              <p><em> in <%= campground.location %>, posted <%= moment(campground.createdAt).fromNow() %></em></p>
            </li>
          </ul>
            <% }) %>  
        </div>
       </div>
   </div>
<% include ../partials/footer%>